<section id="2" class="block_3 page-section">
    <div class="block_3__container container">
        <h2 class="title" data-number="03">Что мы делаем?</h2>
        <div class="wwd">
            <div class="wwd-item">
                <img src="images/img_2.jpg" alt="">
                <p class="wwd-item__title">Комплексный ремонт</p>
            </div>

            <div class="wwd-item">
                <img src="images/img_3.jpg" alt="">
                <p class="wwd-item__title">Ремонт под ключ</p>
            </div>

            <div class="wwd-item">
                <img src="images/img_4.jpg" alt="">
                <p class="wwd-item__title">Евроремонт</p>
            </div>
        </div>
    </div>
</section>