<section id="5" class="block_9 page-section">
    <div class="container">
        <h2 class="title" data-number="09">Наши контакты</h2>

        <div class="block_9__text">
            <p class="block_9__title">Адреса офисов:</p>
            <p class="block_9__address">
                г.Санкт-Петербург, Невский пр., д. 88<br>
                г.Москва, Волоколамское шоссе, д.5
            </p>
            <p class="block_9__phone">+7 960 085 5557</p>
            <p class="block_9__email"><a href="mailto:elasticstroy@yandex.ru">elasticstroy@yandex.ru</a></p>
        </div>
    </div>
</section>