<section class="block_1 page-section">
    <div class="block_1__container container">
        <div class="block_1__text">
            <h2 class="title" data-number="01">Вы ищете надежную компанию<br> для ремонта квартиры<br> в Санкт‑Петербурге или Москве?</h2>
            <p>
                Ремонтно-строительная компания <b>«Эластик Строй»</b> – команда профессионалов, готовых воплотить ваши идеи в реальность.<br>
                Наша компания сочетает в себе опыт, надежность и творческий подход, чтобы создать интерьер, который будет отражать вашу уникальность
                и&nbsp;стиль.
            </p>
        </div>
        <img src="images/img_1.jpg" alt="">
    </div>
</section>