<section class="block_7 page-section">
    <div class="block_7__container container">
        <h2 class="title" data-number="07">Наши работы:</h2>

        <div class="block_7__gallery">
            <div class="gallery_4">
                <a href="images/img_25.jpg" data-fancybox="gallery_4">
                    <img src="images/img_25.jpg" alt="">
                </a>
                <a href="images/img_26.jpg" data-fancybox="gallery_4">
                    <img src="images/img_26.jpg" alt="">
                </a>
                <a href="images/img_27.jpg" data-fancybox="gallery_4">
                    <img src="images/img_27.jpg" alt="">
                </a>
                <a href="images/img_28.jpg" data-fancybox="gallery_4">
                    <img src="images/img_28.jpg" alt="">
                </a>
                <a href="images/img_29.jpg" data-fancybox="gallery_4">
                    <img src="images/img_29.jpg" alt="">
                </a>
                <a href="images/img_30.jpg" data-fancybox="gallery_4">
                    <img src="images/img_30.jpg" alt="">
                </a>
                <a href="images/img_31.jpg" data-fancybox="gallery_4">
                    <img src="images/img_31.jpg" alt="">
                </a>
                <a href="images/img_32.jpg" data-fancybox="gallery_4">
                    <img src="images/img_32.jpg" alt="">
                </a>
                <a href="images/img_33.jpg" data-fancybox="gallery_4">
                    <img src="images/img_33.jpg" alt="">
                </a>
                <a href="images/img_34.jpg" data-fancybox="gallery_4">
                    <img src="images/img_34.jpg" alt="">
                </a>
            </div>
            <p class="value">площадь 120м<sup>2</sup></p>
        </div>
    </div>
</section>