<section class="block_8 page-section">
    <div class="block_8__container container">
        <h2 class="title" data-number="08">Наши работы:</h2>

        <div class="block_7__gallery">
            <div class="gallery_5">
                <a href="images/img_35.jpg" data-fancybox="gallery_5">
                    <img src="images/img_35.jpg" alt="">
                </a>
                <a href="images/img_36.jpg" data-fancybox="gallery_5">
                    <img src="images/img_36.jpg" alt="">
                </a>
                <a href="images/img_37.jpg" data-fancybox="gallery_5">
                    <img src="images/img_37.jpg" alt="">
                </a>
                <a href="images/img_38.jpg" data-fancybox="gallery_5">
                    <img src="images/img_38.jpg" alt="">
                </a>
                <a href="images/img_39.jpg" data-fancybox="gallery_5">
                    <img src="images/img_39.jpg" alt="">
                </a>
            </div>
            <p class="value">площадь 30м<sup>2</sup></p>
        </div>
    </div>
</section>