<section id="4" class="block_5 page-section">
    <div class="block_5__container container">
        <h2 class="title" data-number="05">Наши работы:</h2>

        <div class="works">
            <div class="works__block">
                <div class="gallery_1">
                    <a href="images/img_6.jpg" data-fancybox="gallery_1">
                        <img src="images/img_6.jpg" alt="">
                    </a>
                    <a href="images/img_7.jpg" data-fancybox="gallery_1">
                        <img src="images/img_7.jpg" alt="">
                    </a>
                    <a href="images/img_8.jpg" data-fancybox="gallery_1">
                        <img src="images/img_8.jpg" alt="">
                    </a>
                    <a href="images/img_9.jpg" data-fancybox="gallery_1">
                        <img src="images/img_9.jpg" alt="">
                    </a>
                    <a href="images/img_10.jpg" data-fancybox="gallery_1">
                        <img src="images/img_10.jpg" alt="">
                    </a>
                </div>
                <p class="value">площадь 30м<sup>2</sup></p>
            </div>

            <div class="works__block">
                <div class="gallery_2">
                    <a href="images/img_11.jpg" data-fancybox="gallery_1">
                        <img src="images/img_11.jpg" alt="">
                    </a>
                    <a href="images/img_12.jpg" data-fancybox="gallery_1">
                        <img src="images/img_12.jpg" alt="">
                    </a>
                    <a href="images/img_13.jpg" data-fancybox="gallery_1">
                        <img src="images/img_13.jpg" alt="">
                    </a>
                    <a href="images/img_14.jpg" data-fancybox="gallery_1">
                        <img src="images/img_14.jpg" alt="">
                    </a>
                    <a href="images/img_15.jpg" data-fancybox="gallery_1">
                        <img src="images/img_15.jpg" alt="">
                    </a>
                    <a href="images/img_16.jpg" data-fancybox="gallery_1">
                        <img src="images/img_16.jpg" alt="">
                    </a>
                </div>
                <p class="value">площадь 90м<sup>2</sup></p>
            </div>
        </div>
    </div>
</section>