<section id="3" class="block_4 page-section">
    <div class="block_4__container container">
        <div class="block_4__text">
            <h2 class="title" data-number="04">Выполняем работы:</h2>
            <p>
                Демонтажные работы<br>
                Электромонтажные работы<br>
                Сантехнические работы<br>
                Стяжка пола<br>
                Проклейка обоев и покраска стен<br>
                Укладка камня и декоративного кирпича<br>
                Плиточные работы<br>
                Гидроизоляция<br>
                Укладка ламината<br>
                Установка дверей<br>
                Натяжные потолки<br>
                Конструкции ГКЛ<br>
                Устройства перегородок<br>
                Штукатурка стен<br>
                Выравнивание потолков и стен<br>
                Настил линолеума<br>
                Облицовка откосов дверей/окон
            </p>
        </div>
        <img src="images/img_5.jpg" alt="">
    </div>
</section>