<section id="1" class="block_2 page-section">
    <div class="block_2__container container">
        <h2 class="title" data-number="02">Почему мы?</h2>
        <div class="features">
            <div class="feature">
                <img src="images/icons/icon_1.svg" alt="">
                <p class="feature__title">Строгий контроль<br> качества</p>
                <p class="feature__text">Каждый этап работ по ремонту квартир – проходит детальную проверку на качество выполнения</p>
            </div>
            <div class="feature">
                <img src="images/icons/icon_2.svg" alt="">
                <p class="feature__title">Персональный<br> прораб</p>
                <p class="feature__text">При заключении договора с нами, за проектом закрепляется прораб, который будет отвечать за ваш ремонт</p>
            </div>
            <div class="feature">
                <img src="images/icons/icon_3.svg" alt="">
                <p class="feature__title">Качество</p>
                <p class="feature__text">Делаем действительно качественный ремонт, который будет радовать вас долгие годы</p>
            </div>
            <div class="feature">
                <img src="images/icons/icon_4.svg" alt="">
                <p class="feature__title">Вывозим весь<br> мусор</p>
                <p class="feature__text">Вам не нужно задумыватьскя о вывозе мусора, мы сами все упакуем и увезем на специализированные площадки</p>
            </div>
        </div>
    </div>
</section>