<header class="header">
    <div class="header__inner container">
        <a class="header__logo" href="#top">Эластик Строй</a>

        <button class="js-menu-opener header__menu-opener" type="button" title="Открыть меню">
            <img src="images/icons/burger.svg" alt="">
        </button>

        <nav class="main-menu">
            <div class="main-menu__inner">
                <ul class="main-menu__list">
                    <li class="main-menu__item"><a class="main-menu__link" href="#1">Почему мы?</a></li>
                    <li class="main-menu__item"><a class="main-menu__link" href="#2">Что мы делаем?</a></li>
                    <li class="main-menu__item"><a class="main-menu__link" href="#3">Мы выполняем</a></li>
                    <li class="main-menu__item"><a class="main-menu__link" href="#4">Наши работы</a></li>
                    <li class="main-menu__item"><a class="main-menu__link" href="#5">Контакты</a></li>
                </ul>
            </div>
            <button class="js-menu-closer main-menu__closer" type="button" title="Закрыть меню">
                <img src="images/icons/close.svg" alt="">
            </button>
        </nav>

        <button class="header__button" type="button" data-fancybox="form" data-src="#form">Отправить&nbsp;заявку</button>

        <!--<a class="header__phone" href="tel:+79600855557">+7 960 085 5557</a>-->
    </div>
</header>