.block_1 {
    display: flex;

    &__container {
        height: auto;
        width: 100%;
        @media(min-width: $sm) {
            display: flex;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 10px;
        @media(min-width: $sm) {
            padding-left: 0;
            padding-top: 120px;
            padding-bottom: 120px;
            width: 60%;
        }
        @media(min-width: $hd) {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        .title {
            font-size: 18px;
            line-height: 1.2;
            margin-bottom: 30px;
            padding-top: 0;
            padding-bottom: 0;
            @media(min-width: $sm) {
                margin-bottom: 0;
            }
            @media(min-width: $hd) {
                font-size: 25px;
            }

            br {
                display: none;
                @media(min-width: $hd) {
                    display: block;
                }
            }
        }

        p {
            text-align: center;
            @media(min-width: $sm) {
                margin: auto;
                text-align: left;
            }
            @media(min-width: $hd) {
                font-size: 20px;
                max-width: 510px;
            }
        }
    }

    img {
        @media(min-width: $sm) {
            max-height: 720px;
            margin-right: -10px;
            object-fit: cover;
            object-position: center;
            width: 52%;
        }
        @media(min-width: $md) {
            margin-right: -20px;
        }
    }
}